header {
    background-color: gray;
    padding-top: 5px;
  }
  
  header h1 {
    font-family: "Eczar", serif;
    color: whitesmoke;
    font-size: 60px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    vertical-align: top;
  }