p {
    padding: 1px;
    margin: 1px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    border-bottom: 2px solid lightseagreen;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
}

.tabla {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

#izquierda {
    box-shadow: 10px -10px 20px #888;
    background: rgb(162,162,160);
    background: linear-gradient(90deg, rgba(162,162,160,0.7343312324929971) 0%, rgba(237,234,234,1) 100%, rgba(255,255,255,1) 100%);
    font-family: 'Times New Roman';
    border-radius: 50px 50px 10px 10px;
}

#derecha {
    font-family: 'Times New Roman';
    margin-left: 4%;    
}

#foto {
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 50%;
    border: 3px solid rgb(85, 70, 70);
}

.imagenes {
    margin-left: 5%;
}

.textoimag {
    text-align: center;
    margin-left: 2%;
}