#integrantes_empresa{
    display: flex;
}

.integrantes{
    border: 2px;
    border: solid;
    border-color: grey;
    border-radius: 30px;
    margin: 10px 5% 30px 5%;
    width: 25%;
    height: auto;
    text-align: center;
}

.img_integrantes{
    border-radius: 50%;
    margin: 10px 5px 0 5px;
}

.emp_flex{
    display: flex;
    border: 1px solid grey;
    gap: 32px;
    margin: 20px 0px;
    align-items: center;
    padding: 16px;
    border-radius: 20px;
}

.emp_flex h4{
    font-size: 30px;
    padding: 5px;
    margin: 0px;
    border-bottom: 2px solid teal;
}

.emp_flex img{
    border-radius: 20px;
}

.emp_flex:nth-child(even){
    flex-direction: row-reverse;
}