/*
font-family: "Open Sans", sans-serif;
font-family: "Eczar", serif;
*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: lightgray;
}

header {
    background-color: #AA44E8;
    padding-top: 5px;
}

header h1 {
    font-family: "Eczar", serif;
    color: whitesmoke;
    font-size: 60px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    vertical-align: top;
}

nav{
    background-color: #C785EF;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 0px 36px;
    text-align: center;
}

nav ul li a:hover{
    background-color: #DDBCF0;
}

nav ul li a.activo{
    background-color: #DDBCF0;
}

footer{
    background-color: #AA44E8;
    padding-bottom: 2px;
    margin-top: 50px;
    text-align: center;
    color: white;
    margin: 0;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

.contactanos{
    padding-top: 2px;
    background-color: #C785EF;
    color: black;
    display: flow-root;
}

.contactanos p{
    display: inline-flex;
    padding: 0px 20px 20px 20px;
    margin: 0;
}

.contactanos h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Empresa*/
#integrantes_empresa{
    display: flex;
}

.integrantes{
    border: 2px;
    border: solid;
    border-color: grey;
    border-radius: 10%;
    margin: 10px 5% 30px 5%;
    width: 25%;
    height: auto;
    text-align: center;
}

.img_integrantes{
    border-radius: 50%;
    margin: 10px 5px 0 5px;
}
